<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.jastz.accountservice.dao.AccountDAO">

    <insert id="save"></insert>
    <select id="isComplete" resultType="java.lang.Boolean"></select>
</mapper>